* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

.comida-container {
  display: grid;
  grid-template-columns: repeat(4, ifr);
  gap: 33px;
  .card {
    width: 300px;
    height: 300px;
    border: 3px, solid #00000000;
  }
}
